* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body,
#__next,
main {
  min-height: 100vh;
  min-width: 100%;
  overflow: hidden;
}
/*
td {
  min-height: calc(22vh - 8px);
  max-height: calc(22vh - 8px);
  width: 20%;
}

#__next > table > tbody > tr > td {
  border: 2px solid #202020;
}
*/
main,
tbody {
  background: #2e2e2e;
}

h1,
h2 {
  font-family: sans-serif;
  font-size: 60px;
  height: 60px;
  color: #fafafa;
  text-align: center;
}
h2 {
  height: 2em;
  font-size: 2em;
}

canvas {
  height: calc((100vh - 80px) / 4) !important;
  width: 100% !important;
}
.leaflet-container {
  height: 100% !important;
  width: 100% !important;
}
.leaflet-control {
  display: none;
}
